# Default ignored files
/../../../../../../François Martin/Mac/Documents/IdeaProjects/voxxed-days-ticino-2025/.idea/shelf/
/../../../../../../François Martin/Mac/Documents/IdeaProjects/voxxed-days-ticino-2025/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../François Martin/Mac/Documents/IdeaProjects/voxxed-days-ticino-2025/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../François Martin/Mac/Documents/IdeaProjects/voxxed-days-ticino-2025/.idea/dataSources/
/../../../../../../François Martin/Mac/Documents/IdeaProjects/voxxed-days-ticino-2025/.idea/dataSources.local.xml
